#bodydefault {
    width: 80%;
    clear: both;
}

#divnavdefault {
    border-bottom: 3px solid rgb(161, 161, 161);
    background-color: rgb(0, 0, 0);
    padding-left: 15px;
    position: fixed;
}

#navlistdefault {
    font-color: rgb(225, 225, 225);
}

#eportfolioheader {
    font-family: 'AR BONNIE', 'Arial', 'Sans-Serif';
    font-size: 3em;
    color: rgb(225, 225, 225);
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: rgb(225, 225, 225);
    font-family: 'Arial';
}
.navbutton{
    border: 1px solid rgb(225, 225, 225);
    padding: 2px;
    margin: 3px;

}
a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'AR BONNIE', 'Arial', 'Sans-Serif';
}

#contentdefault{
    background-color: rgb(181, 238, 255);
    margin: 50px;
}

p {
    font-family: 'Arial', 'Sans-Serif';
}

#divfootdefault {
    border-top: 2px solid rgb(0, 0, 0);
    font-size: .5em;
    font-family: 'Arial', 'Sans-Serif';
    background-color: rgb(0, 20, 15);
    padding: 3px;
    color: (225, 225, 225);
}


.readandcheck{
    color: rgb(80, 80, 80);
    text-decoration: underline;
}
