#bodydefault {
    margin: 60px;
    width: 70%;
    background-color: rgb(164, 211, 255);
}

#navdefault {
    border bottom: 3px solid rgb(161, 161, 161);
}

}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1em;
    font-family: 'Comic Sans MS', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1em;
;
}
footer {
    border-top: 2px solid rgb(0, 0, 0);
    font-size: .8em;
    background-color: rgb(0, 20, 15);
}
