<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!-- <li><a href="/cv">CV</a></li> -->
	        		<li><a href="/portfolio">Portfolio</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		<footer>
    			<ul>
        		<p> If you want to get in touch or have questions, please <li><a href="mailto:daralyn1hz@gmail.com">email</a></li> me.
        		<li><a href="https://daralyn.github.io/">daralyn.github.io/</a></li>
			</ul>
		</footer>
		</body>
	</html>
