<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body id="bodydefault">
					<header>
					<nav>
						<h2 id="eportfolioheader">Daralyn's E-portfolio</h2>
	    				<p id="pnavigation">
	        				<a class="navbutton homebutton" href="/">Home</a>
	        				<!-- <a href="/cv">CV</a> -->
	        				<a class="navbutton portfoliobutton" href="/portfolio">Portfolio</a>
						<a class="navbutton aboutbutton" href="/about">About</a>
	    				</p>
					</nav>
					</header>
			<div class="container">

					{{ content }}
			
			</div> <!-- /.container -->
			
			<footer>
        			<p id="footertext"> If you want to get in touch or have any questions, please find me on Facebook @ Daralyn Wen.</p>
			</footer>
		</body>
	</html>
