<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body id="bodydefault">
			<div class="container">
			<div id="divnavdefault">
			<nav>
				<h2 id="eportfolioheader">Daralyn's E-portfolio</h2>
	    		<p id="navlistdefault">
	        		<a class="navbutton" href="/">Home</a>
		        	<a class="navbutton" href="/about">About</a>
	        		<!-- <a href="/cv">CV</a> -->
	        		<a class="navbutton" href="/portfolio">Portfolio</a>
	    		</p>
			</nav>
			<div id="contentdefault">
			
			
			{{ content }}
			
			</div><!-- /.container -->

    			<div>
        		<p id="divfootdefault"> If you want to get in touch or have any questions, please find me on facebook @ Daralyn Wen.
			<a href="https://daralyn.github.io/">daralyn.github.io/</a></li> </p>
			</div>

		</body>
	</html>
