<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body id="bodydefault">
					<header>
					<nav>
						<h2 id="eportfolioheader">Daralyn's E-portfolio</h2>
						<div id="nav">
							<div id="nav-wrapper"
								<ul>
									<li><a href="/">Home</a></li>
									<li><a href="/about">About</a></li>
									<li><a href="https://daralyn.github.io/portfolio/" class="dropbtn"> Portfolio </a>
										<ul>
											<li><a href="https://daralyn.github.io/portfolio/engineering/">Engineering</a></li>
											<li><a href="https://daralyn.github.io/portfolio/chinese/">Chinese</a></li>
											<li><a href="https://daralyn.github.io/portfolio/photos/">Photos</a></li>
											<li><a href="https://daralyn.github.io/portfolio/cards/">Cards</a></li>
											<li><a href="https://daralyn.github.io/portfolio/holiday-crafts/">Holiday Crafts</a></li>
										</ul> 
									</li>
								</ul>
							</div>
						</div>
					</nav>

					</header>

			<div class="container">

					{{ content }}
			
			</div> <!-- /.container -->
			
			<footer>
        			<p id="footertext"> If you want to get in touch or have any questions, please find me on Facebook @ Daralyn Wen.</p>
			</footer>
		</body>
	</html>
