<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/portfolio.css">
		</head>
		<body id="bodydefault">
					<header>
					<nav>
						<h2 id="eportfolioheader">Daralyn's E-portfolio</h2>
				<div id="buttonsposition">
	        				<a class="navbutton homebutton" href="/">Home</a>
	        				<!-- <a href="/cv">CV</a> -->
						<div id="dropdown">
	        					<a class="navbutton portfoliobutton" href="/portfolio">Portfolio</a>
						            <div id="dropdown-content">
							      <a href="https://daralyn.github.io/portfolio/engineering/">Engineering</a>
							      <a href="https://daralyn.github.io/portfolio/chinese/">Chinese</a>
							      <a href="https://daralyn.github.io/portfolio/photos/">Photos</a>
							      <a href="https://daralyn.github.io/portfolio/cards/">Cards</a>
							      <a href="https://daralyn.github.io/portfolio/holiday-crafts/">Holiday Crafts</a>
							   </div>
						</div>
						<a class="navbutton aboutbutton" href="/about">About</a>
				</div>
					</nav>
					</header>

			<div class="container">
					{{ content }}
			</div> <!-- /.container -->
      
			<footer>
        			<p id="footertext"> If you want to get in touch or have any questions, please find me on Facebook @ Daralyn Wen.</p>
			</footer>
		</body>
	</html>
